pane#blueprint itemstack:hover {
    -foreground-texture: url("qbar:textures/gui/printer_hover.png");
}

.category {
    -background-texture: url("qbar:textures/gui/printer_button.png");
}

.category:hover {
    -background-texture: url("qbar:textures/gui/printer_button_hover.png");
}

.category:active {
    -background-texture: url("qbar:textures/gui/printer_button_selected.png");
}