pane.whitelist {
    -background-texture: url("qbar:textures/gui/filter_whitelist.png");
}

pane.blacklist {
    -background-texture: url("qbar:textures/gui/filter_blacklist.png");
}

pane.whitelist button {
    -background-color: rgba(0, 0, 0, 0);
    -text-color: #000000 87%;
}

pane.whitelist button:hover {
    -background-color: #F5F5F5;
}

pane.blacklist button {
    -background-color: rgba(0, 0, 0, 0);
    -text-color: #FFFFFF 87%;
}

pane.blacklist button:hover {
    -background-color: #616161;
}

label.facing {
    -text-color: #000000 87%;
}

pane.arrows {
    -background-texture: url("qbar:textures/gui/splitter_arrows.png");
}

pane.invalid {
    -background-texture: url("qbar:textures/gui/filter_invalid.png");
}