.whitelist {
    -background-color: #FAFAFA;
    -text-color: #000000 87%;
}

.whitelist:hover {
    -background-color: #F5F5F5;
}

.blacklist {
    -background-color: #424242;
    -text-color: #FFFFFF 87%;
}

.blacklist:hover {
    -background-color: #616161;
}